
/** inner for the gif */
html {
    background-color: darkslategrey;
}

.body {
    padding:50px;
    margin:auto;
}

.inner  {
    display: flex;
    justify-content: center;
}

.main {
    margin:auto;
    width:75%;
    color: white;

}

/** Updated Versions section */
.outer {
    width:100%;
    display: flex;
    justify-content: left;
    color: white;
}

.column {
    width:40%;
    margin:20px;
}

.column p {
    font-size: 13px;
}
